@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

/* TODO: Add dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --background: #ffffff;
    --foreground: black;
  }
}

body {
  background: var(--background);
  font-family: var(--font-inter, Inter), Arial, Helvetica, sans-serif;
}

.hcenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
}

.top-bissell-header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo {
  font-weight: 600;
  width: 64px;
  height: 64px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}
.bissell-header-text {
  font-size: 40px;
}

label {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.error-message {
  color: red;
}
